body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(225, 225, 249); /* Light blue background color */
    margin: 0;
}
h1 {
    color: #3a0428; /* Tomato color for the H1 text */
}
.game-container {
    text-align: center;
    background-color: #3fa3ac; /* White background for the game container */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#hangmanCanvas {
    border: 1px solid rgb(152, 150, 150);
    margin-bottom: 20px;
    color: blueviolet;
    background-color: rgb(86, 80, 211);
}

#wordDisplay {
    font-size: 2em;
    margin-bottom: 20px;
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.key {
    padding: 10px;
    margin: 5px;
    font-size: 1.5em;
    cursor: pointer;
}

#wrongLetters {
    margin-top: 20px;
}

#message {
    font-size: 1.5em;
    margin-top: 20px;
    color: red;
}

#restartButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}
